name: "Static Analysis"

on:
  workflow_call:

jobs:
  static-analysis:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GH_TOKEN }}

      - name: Format check
        run: nix fmt -- --ci

      - name: Install dependencies
        run: |
          nix profile add .#ci
          pnpm install

      - name: Lint check
        run: pnpm lint
